<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Irrigation System</title>
    <link rel="stylesheet" href="home.css" type="text/css">
</head>
<body>

    <!--   start of navigation bar   -->
    <nav class="navbar">
        <div id="logo">
            <img src="photos/agri5.jpeg">
        </div>

        <div id="title">
           <h1 id="title">Automated Irrigation System</h1>
        </div>
    </nav>
    <!--  end of navigation bar -->
    
            <!-- start of the section one -->
            <div  class="dashboard">
                
                <div class="dashboard-left">

                    <div class="logo">
                       <img src="photos/dashboard.jpeg"alt="dashboard img">
                    </div>

                    <div class="title">
                        <h1 class="big-text">DASHBOARD</h1>
                        <p class="small-text">FARMER'S AREA</p>
                    </div>
                    
                </div>
                

                <div class="dashboard-right">
                    <div class="sale">
                        <div class="heading">
                          <h4>Irrigation The Key To Crop Survival</h4>
                          
                        </div>

                    </div>

                    <div class="payment">

                        <div class="heading">
                            <h4>Weather updates</h4>
                            <i class="searchIcon"></i>
                          </div>
                          <div class="items">
                              <div class="item">Daily</div>
                              <div class="item">Hourly</div>
                          </div>
                    </div>

                    <div class="profile" id="profile">
                        <img src="./photos/profile.jpeg" alt="profile photo">
                    </div>

                    <div class="popup">
                        <a href="/logout">Logout</a>
                    </div>
                        <!-- <h1>welcome data.name </h1> -->
                </div>

            </div>
        <!-- end of section one -->
        <div class="grid-container">
            
            <div class="item2">

                <div class="left-bar1">
                    <h4>Modes</h4>
                      
                        
                        <div class="year">
                            <p>Expected Water</p>
                            <span class=".year1"></span>
                        </div>
                        
                        <div class="status">
                            
                        </div>
                      

                </div>

                <div class="left-bar2">

                    <div class="key1">                       
                        <div class="positive"></div>
                        <span>IRRIGATE</span>
                      </div>
                      <div class="key2">
                        <div class="negative"></div>
                         <span>DO NOT IRRIGATE</span>
                      </div>
                      <div class="key3">
                        <img src="./photos/highTemp.png"alt="">
                        <span>High temperatures(above 30 deg)</span>
                      </div>
                      <div class="key4">
                        <img src="./photos/lowTemp.png"alt="">
                        <span>Low temperatures(below 5 deg)</span>
                      </div>

                      <div class="key5">
                        <img src="./photos/agri4.jpg" alt="Agriculture quote" class="image">
                      </div>
     

                </div>

            </div>

            <div class="center-bar">
                    <div class="center-up">
           
                        <div class="center-bar1">
                               <small>Temperature</small>
                               <div class="item">
                                  <span id="temp">0</span>
                               </div>
                        </div>
           
                        <div class="center-bar1">
           
                            <small>Humidity</small>
                            <div class="item">
                               <span id="humid">0</span>
                            </div>
                        </div>
           
                        <div class="center-bar1">
                            <small>Soil-moisture</small>
                           
                            <div class="item">
                               <span id="soilMoisture">0</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="center-center">
                        <div class="item1">
                            <div class="heading">
                                <img src="photos/averageWater.jpeg">
                                <small>Amount of water needed</small>
                            </div>
    
                            <div class="content">
                                <span id="avg-rain">0</span>
                                
                            </div>
    
    
                        </div> 
    
                        <div class="item1">
                            <div class="heading">
                                <img src="photos/temp.png">
                                <small>Average Temperature</small>
                            </div>
    
                            <div class="content">
    
                                <span id="avg-temp">0</span>
                                
                            </div>
    
    
                        </div>
    
                        <div class="item1">
                            <div class="heading">
                                <img src="photos/soilMoisture.png">
                                <small>average soil-moisture</small>
                            </div>
                            <div class="content">
                                <span id="avg-soilMoisture"></span>
                                
                            </div>
    
    
                        </div>
                    </div>
    
                    <div class="center-down">
                                    <!-- Slideshow container -->
                                     <div class="slideshow-container fade">
    
                                       
                                        <div class="Containers">
                                        
                                        <img src="photos/agr1.jpeg" id="slide-image">
                                         
                                        <!-- <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
                                        <a class="forward" onclick="plusSlides(1)">&#10095;</a> -->
                                    <br>         
                                    <!-- <div style="text-align:center">
                                        <span class="dots" onclick="currentSlide(1)"></span>
                                        <span class="dots" onclick="currentSlide(2)"></span>
                                        <span class="dots" onclick="currentSlide(3)"></span>
                                    </div>  -->
                                        </div>
    
                                        <div class="Containers">                 
                                        <img src="photos/tom.jpg" id="slide-image">                                    
                                        </div>
    
                                        <div class="Containers">
                                        <img src="photos/beans.jpeg" id="slide-image">
                                        </div> 
                                    </div>  
    
                
                </div>
            </div>
              

            <div id="right-bar">
            
                <div class="item1">                     
                        <p>Favorable-conditions</p>
                        <div class="crop-conditions">
                            <small>crop name <span id="name"><%=data.name%> </span></small><br>         
                            <small>crop temperature <span id="temperature"><%=data.temperature%></span></small><br>
                            <small>crop rainfall <span id="rainfall"><%=data.rain%></span></small><br>
                            <small>crop soil moisture <span id="soil-moisture"><%=data.moisture%></span></small><br>
                            
                        </div>
                </div>

                <div class="item2">                       
                        <h6>Geographic Location</h6>
                        <div id="map"></div>
                </div>    

            </div>
          </div>
        
                <!-- end of the section -->
        

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
        crossorigin=""/>

         <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
 integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
 crossorigin=""></script>
<script src="app.js"></script>
</body>
</html>
