<!DOCTYPE html>
<html>
<head>
	<title>LOGIN</title>
	<link href="login.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="login-form">
		<% if(messages.length>0){%> 
			<%= messages%> 
			<% } %> 
		<h1>Login Form</h1>
		<form action="/login" method="POST">
		<p>Email</p>
		<input type="text" name="username" placeholder="Email" required>
		<p>Password</p>
		<input type="password" name="password" placeholder="password" required>
		<span style="text-align: center; font-size: 20px; ">Forgot password?<a href="#">Click Here</a></span><br>
		<button type="submit">Login</button><br>
		<div class="signup">Not a member?<a href="/register">SignUp now</a></div>
	</form>
	</div>

</body>

</html>

