*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:sans-serif;
    max-height:100vh;
    
}
img{
    width:2rem;
    height:2rem;
}

body{
    background-color:#009f6b;
    color:#fff;
    
}

.navbar{
    width:100%;
    height:3.5rem;
    background-color:#177245;
    display:flex;   
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    align-items:center;
}
.navbar #logo{
    width:3rem;
    height:3rem;
    background-color:whitesmoke;
    border-radius:10px;
    justify-content:flex-start;
    margin-right:5rem;
    margin-left:1rem;
}
.navbar #logo img{
    width:3rem;
    height:3rem;
    border-radius:10px;
}
.navbar #title{
    font-size:2.5rem;
    padding:0 20px;
    text-transform:uppercase;
    margin:auto;
    
}


.dashboard{
    display:flex;
    width:100%;
    height:5rem;
    background-color:#00a877;
    gap:2%;
    padding:5px;
}

.dashboard-left{
    display:flex;
    background-color:#03c03c;;
    height:4.5rem;
    width:40%;
    border-radius:10px;
    align-items:center;
    justify-content:flex-start;
}

.dashboard-left .logo{
    margin:0 1rem;
}

.dashboard-left .title{
    display:flex;
    flex-direction:column;
}
.dashboard-left .title .big-text{
    font-size:2rem;
}
.dashboard-left .title .small-text{
  color:rgb(241, 162, 13);
  font-size:1rem;
}

.dashboard-right{
    display:flex;
    background-color:#03c03c;
    height:4.5rem;
    width:60%;
    border-radius:10px;
    align-items:center;
    margin:auto;
    
}

.dashboard-right .sale,.dashboard-right .payment{
    display:flex;
    flex-direction:column;
    margin-left:5px;
    width:40%;  
}

.dashboard-right .sale .heading,.dashboard-right .payment .heading{
    display:flex;
     gap:9.5rem;   
}

.dashboard-right .sale .heading h2,.dashboard-right .payment .heading h2{
    font-style:bold;
}
.dashboard-right .sale .heading i,.dashboard-right .payment .heading i{
    font-size:1.5rem;
}

.dashboard-right .sale .items,.dashboard-right .payment .items{
    display:flex;
    align-items: center;
    justify-content:center;

}
.dashboard-right .sale .items form input[type="text"]{
    font-size:1rem;
    padding:5px;
    border:0;
    outline:none;
    border-radius: 5px;
}

.dashboard-right .sale .items form input[type="submit"]{
    padding:10px;
    border-radius:5px;
    background-color:rgb(66, 66, 156);
}

.dashboard-right .payment .items form input[type="submit"]:hover{
    background-color:rgb(29, 29, 151);
}


.dashboard-right .payment .items .item{
    background-color:rgba(240, 15, 64, 0.8);
    padding:5px;
    margin:1px;
    border-radius:4px;
    font-size:15px;
    padding-right:6rem;
    justify-content:flex-start;
}


.dashboard-right .profile{
    height:3rem;
     width:3rem;
    border-radius:50%;
    border:2px solid green;
    margin-left:3rem;
 
}
.dashboard-right .profile img{
    border-radius:50%;
    height:3rem;
     width:3rem;
}

.popup{
    width:10rem;
    height:10px;
    align-items:center;
    justify-content:center;
    display:flex;
    
}
.popup a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.popup a:hover{
    color:green;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height:75vh;
}
.grid-container .item2{
    position:relative;
}


     
  .left-bar1{
    position:absolute;
    top: 1px;
    display:flex;
    flex-direction:column;
    background-color:#004225;
    border-radius:5px;
    padding-right:10px;
    width:100%;
    gap:10px;
    padding-bottom:10px;
}
.left-bar1{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:100%;
    justify-content:center;
    align-items:center;
    padding:10px;

}
.left-bar1 .year{
    display:flex;
    
}
.left-bar1 p{
    font-size:10px;
}
.left-bar1 span{
    font-weight:bold;
    letter-spacing: 3px;
}

.left-bar1 .status{
   width:100%;
   height:1.5rem;
   border-radius:8px;
   border:1px solid aqua;
   
}

.left-bar1 .years .state{
    background-color:white;
}

.item2 .left-bar2{
    position:absolute;
    border-radius:5px;
    padding:10px;
    margin-top:1rem;
    top:25%;
    background-color:#00ff7f;
    display:flex;
    flex-direction:column;
    gap:1rem;    
}
.item2 .left-bar2 .key1{
    background-color:rgb(181, 213, 181);
    display:flex;
    justify-content:space-between;
    width:100%;
    height:2rem;
    align-items:center;
    padding:5px;
    border-radius:10px;

}

.item2 .left-bar2 .key1 .positive{
    width:50%;
    height:1.5rem;
    background-color:green;
}
.item2 .left-bar2 .key1 span{
    font-size:10px;
    color:green;
    font-weight:bold;
}

.item2 .left-bar2 .key2{
    background-color:rgb(181, 213, 181);
    display:flex;
    justify-content:space-between;
    width:100%;
    height:2rem;
    align-items:center;
    padding:5px;
    border-radius:10px;

}

.item2 .left-bar2 .key2 .negative{
    width:50%;
    height:1.5rem;
    background-color:red;
}
.item2 .left-bar2 .key2 span{
    font-size:10px;
    color:red;
}

.item2 .left-bar2 .key3,.item2 .left-bar2 .key4{
    background-color:rgb(181, 213, 181);
    display:flex;
    justify-content:space-between;
    width:100%;
    height:3rem;
    align-items:center;
    padding:5px;
    border-radius:10px;

}
.item2 .left-bar2 .key3 img,.item2 .left-bar2 .key4 img{
    width:20%;
    height:auto;
}

.item2 .left-bar2 .key3 span{
    font-size:10px;
    color:red;
}

.item2 .left-bar2 .key4 span{
    font-size:10px;
    color:green;
}
.item2 .left-bar2 .key5{
    background-color:rgb(181, 213, 181);
    display:flex;
    justify-content:space-between;
    width:100%;
    height:5rem;
    align-items:center;
    padding:5px;
    border-radius:10px;
}

.item2 .left-bar2 .key5 .image{
    width:100%;
    height:5rem;
}
.center-bar{
    display:flex;
    background-color:blue;
    border-radius:5px;
    flex-direction:column;
    gap:0.5rem;
    height:90%;
    }
    
    .center-bar .center-up{
        display:flex;
        justify-content:space-around;
        background-color:#00ff7f;
        gap:0.5rem;
        height:30%
    }
    
    .center-bar .center-up .center-bar1{
        background-color:#004225;
        padding:20px 30px;
        margin-top:1px;
        border-radius:5px;
    }
    
    .center-bar .center-center{
        display:flex;
        background-color:#00ff7f;
        height:30%;
        margin-top:10px;
        border-radius:5px;
        padding:10px;
        width:100%;
    }
    .center-bar .center-center .item1{
        margin:10px;
       border:1px solid red;
       background-color:#004225;
       padding:15px;
       border-radius:5px;
       display:flex;
       flex-direction:column;
       gap:0.5rem;
    }
    
    .center-bar .center-center .item1 .heading{
        display:flex;
        gap:1rem;
    }
    
    .center-bar .center-center .item1 .content{
        background-color:rgba(240, 15, 64, 0.8);
        border-radius:4px;
        font-size:15px;
        padding-right:1rem;
        justify-content:center;
        padding:5px;
        
    }
    
    .center-bar .center-down{
        display:flex;
        background-color:#00ff7f;
        height:40%;
        border-radius:5px;
        border:2px solid blue;
        /* width:100%; */
    }

    
    
    #right-bar{
    display:flex;
    background-color:rgb(27, 128, 111);
    flex-direction:column;
    }
    .right-bar .item1{
        background-color:#177245; 
        height:18rem;
        width:100%;
        padding-bottom:5rem;
    }
    .right-bar .item1 .crop-conditions{
        width:100%;
        height:90%;
        border:1px solid red;
        
    }
    
    .right-bar .item2{
        background-color:#177245; 
        height:10rem;
    }

    h6{
        font-size:15px;
    }
    
    #map {
         height: 17rem; 
         width:auto;
        }   
    
    
         /* Slideshow container */
         .slideshow-container {
           width:100%;
           position: relative;
           display:flex;
           padding:10px;
           border:2px solid red;
         }
         
         /* Make the images invisible by default */
         .Containers {
            width:100%;    
            height:100%;
           /* display: none; */
           border:2px solid black;
         }
     #slide-image{
        width:100%;
        height:100%;
     }
         
         /* forward & Back buttons */
         .Back, .forward {
           cursor: pointer;
           position: absolute;
           top: 48%;
           width: auto;
           margin-top: -23px;
           padding: 17px;
           color: grey;
           font-weight: bold;
           font-size: 19px;
           transition: 0.4s ease;
           border-radius: 0 5px 5px 0;
           user-select: none;
         }
         
         /* Place the "forward button" to the right */
         .forward {
           right: 0;
           border-radius: 4px 0 0 4px;
         }
         
         /*when the user hovers,add a black background with some little opacity */
         .Back:hover, .forward:hover {
           background-color: rgba(0,0,0,0.8);
         }
         

         
    
         
         .enable, .dots:hover {
           background-color: #717161;
         }
         
         /* Faint animation */
         .fade {
           -webkit-animation-name: fade;
           -webkit-animation-duration: 1.4s;
           animation-name: fade;
           animation-duration: 1.4s;
         }
         
         @-webkit-keyframes fade {
           from {opacity: .5}
           to {opacity: 2}
         }
         
         @keyframes fade {
           from {opacity: .5}
           to {opacity: 2}
         }

small{
    font-size:15px;
}
