*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:sans-serif;
    max-height:100vh;
    
}
img{
    width:2rem;
    height:2rem;
}

body{
    background-color:#009f6b;
    color:#fff;
    
}

.navbar{
    width:100%;
    height:3.5rem;
    background-color:#177245;
    display:flex;   
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    align-items:center;
}
.navbar #logo{
    width:3rem;
    height:3rem;
    background-color:whitesmoke;
    border-radius:10px;
    justify-content:flex-start;
    margin-right:5rem;
}
.navbar #title{
    font-size:2.5rem;
    padding:0 20px;
    
}
.navbar #nav-links{
    display:flex;
    column-gap:3rem;
    margin-right:20px;
    justify-content:flex-end;
}
.navbar #nav-links a{
    text-decoration:none;
    font-size:1.5rem;
    color:antiquewhite;
}

.dashboard{
    display:flex;
    width:100%;
    height:5rem;
    background-color:#00a877;
    gap:2%;
    padding:5px;
}

.dashboard-left{
    display:flex;
    background-color:#03c03c;;
    height:4.5rem;
    width:40%;
    border-radius:10px;
    align-items:center;
    justify-content:flex-start;
}

.dashboard-left .logo{
    margin:0 1rem;
}

.dashboard-left .title{
    display:flex;
    flex-direction:column;
}
.dashboard-left .title .big-text{
    font-size:2rem;
}
.dashboard-left .title .small-text{
  color:rgb(241, 162, 13);
  font-size:1rem;
}

.dashboard-right{
    display:flex;
    background-color:#03c03c;
    height:4.5rem;
    width:60%;
    border-radius:10px;
    align-items:center;
    margin:auto;
    
}

.dashboard-right .sale,.dashboard-right .payment{
    display:flex;
    flex-direction:column;
    margin-left:5px;
    width:40%;  
}

.dashboard-right .sale .heading,.dashboard-right .payment .heading{
    display:flex;
     gap:9.5rem;   
}

.dashboard-right .sale .heading h2,.dashboard-right .payment .heading h2{
    font-style:bold;
}
.dashboard-right .sale .heading i,.dashboard-right .payment .heading i{
    font-size:1.5rem;
}

.dashboard-right .sale .items,.dashboard-right .payment .items{
    display:flex;
    align-items:center;

}
.dashboard-right .sale .items form input[type="text"]{
    font-size:1rem;
    padding:5px;
    border:0;
    outline:none;
    border-radius: 5px;
}

.dashboard-right .sale .items form input[type="submit"]{
    padding:10px;
    border-radius:5px;
    background-color:rgb(66, 66, 156);
}

.dashboard-right .payment .items form input[type="submit"]:hover{
    background-color:rgb(29, 29, 151);
}


.dashboard-right .payment .items .item{
    background-color:rgba(240, 15, 64, 0.8);
    padding:5px;
    margin:1px;
    border-radius:4px;
    font-size:15px;
    padding-right:6rem;
    justify-content:flex-start;
}


.dashboard-right .profile{
    height:3rem;
     width:3rem;
    border-radius:50%;
    border:2px solid green;
    margin-left:3rem;
 
}
.dashboard-right .profile img{
    border-radius:50%;
    height:3rem;
     width:3rem;
}


.grid-container{
    display:grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height:75vh;
}
.grid-container .item2{
    position:relative;
}
.notification {
    background-color: rgb(80, 177, 77);
    color: white;
    text-decoration: none;
    padding: 4px 7px;
    position: absolute;
    display: inline-block;
    border-radius: 2px;
    right:2px;
    top:1px;
    z-index: 2;
  }
  
  .notification:hover {
    background: green;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding:4px;
    border-radius: 80%;
    background: red;
    color: white;
    font-size:1rem;
  }
  .notification-box{
    background-color:rgb(74, 206, 74);
    display:flex;
    justify-content:space-between;
    margin-top:0;
  }
     
  .left-bar1{
    position:absolute;
    top:0;
    display:flex;
    flex-direction:column;
    background-color:#004225;
    border-radius:5px;
    padding-right:10px;
    z-index: 1;
    width:100%;
}
.left-bar1 .year-title{
    display:flex;
    justify-content:space-between;
}
.left-bar1 .year-title .positive{
    background-color:green;
    width:0.5rem;
    height:0.5rem;
    border-radius:50%;
}
.left-bar1 .year-title .negative{
    background-color:red;
    width:0.5rem;
    height:0.5rem;
    border-radius:50%;
}
.left-bar1 .years{
    display:flex;
    flex-direction:column;
    margin:10px;
}
.left-bar1 .years .year,.left-bar1 .years .year1{
    background-color:rgba(97, 218, 81, 0.1);
    padding:10px;
    margin:2px;
    border-radius:4px;
    font-size:15px;
    padding-right:1rem;
    justify-content:flex-start;
    border:1px solid rgba(240, 15, 64, 0.8);
}
.left-bar .left-bar2{
    border-radius:5px;
    padding:10px;
    margin-top:2rem;
    
}
.left-bar .left-bar2 .year-title{
    display:flex;
    justify-content:space-between;
}
.left-bar .left-bar2 .items{
    display:flex;
    flex-direction:column;
    margin:10px;
}

.left-bar .left-bar2 .items .item{
    background-color:rgba(240, 15, 64, 0.8);
    padding:5px;
    margin:1px;
    border-radius:4px;
    font-size:15px;
    padding-right:1rem;
    justify-content:flex-start;
}


.center-bar{
    display:flex;
    background-color:blue;
    border-radius:5px;
    flex-direction:column;
    /* padding-top:1rem; */
    gap:0.5rem;
    height:90%;
    }
    
    .center-bar .center-up{
        display:flex;
        justify-content:space-around;
        background-color:#00ff7f;
        gap:0.5rem;
        height:30%
    }
    
    .center-bar .center-up .center-bar1{
        background-color:#004225;
        padding:20px 30px;
        margin-top:1px;
        border-radius:5px;
    }
    
    .center-bar .center-center{
        display:flex;
        background-color:#00ff7f;
        height:30%;
        margin-top:10px;
        border-radius:5px;
        padding:10px;
        width:100%;
    }
    .center-bar .center-center .item1{
        margin:10px;
       border:1px solid red;
       background-color:#004225;
       padding:10px;
       border-radius:5px;
       display:flex;
       flex-direction:column;
       gap:1rem;
    }
    
    .center-bar .center-center .item1 .heading{
        display:flex;
        gap:1rem;
    }
    
    .center-bar .center-center .item1 .content{
        background-color:rgba(240, 15, 64, 0.8);
        border-radius:4px;
        font-size:15px;
        padding-right:1rem;
        justify-content:center;
        padding:5px;
        
    }
    
    .center-bar .center-down{
        display:flex;
        background-color:#00ff7f;
        height:40%;
        border-radius:5px;
        border:2px solid blue;
        /* width:100%; */
    }

    
    
    #right-bar{
    display:flex;
    background-color:rgb(27, 128, 111);
    flex-direction:column;
    }
    .right-bar .item1{
        background-color:#177245; 
        height:18rem;
        width:100%;
        padding-bottom:5rem;
    }
    .right-bar .item1 .crop-conditions{
        width:100%;
        height:90%;
        border:1px solid red;
        
    }
    
    .right-bar .item2{
        background-color:#177245; 
        height:10rem;
    }
    
    #map {
         height: 19rem; 
         width:auto;
        }   
         /* display the corousel */
    
    
         /* Slideshow container */
         .slideshow-container {
           width:100%;
           position: relative;
           display:flex;
           padding:10px;
           border:2px solid red;
         }
         
         /* Make the images invisible by default */
         .Containers {
            width:100%;    
            /* .center-bar .center-down .item1{
                background-color:#177245;
                padding:10px;
                width:100%;
                border-radius:5px;
                justify-content:center;
                border:2px solid red;
            } */
            height:100%;
           display: none;
           border:2px solid black;
         }
     #slide-image{
        width:100%;
        height:100%;
     }
         
         /* forward & Back buttons */
         .Back, .forward {
           cursor: pointer;
           position: absolute;
           top: 48%;
           width: auto;
           margin-top: -23px;
           padding: 17px;
           color: grey;
           font-weight: bold;
           font-size: 19px;
           transition: 0.4s ease;
           border-radius: 0 5px 5px 0;
           user-select: none;
         }
         
         /* Place the "forward button" to the right */
         .forward {
           right: 0;
           border-radius: 4px 0 0 4px;
         }
         
         /*when the user hovers,add a black background with some little opacity */
         .Back:hover, .forward:hover {
           background-color: rgba(0,0,0,0.8);
         }
         

         
        

         
         /* The circles or bullets and indicators */
         .dots {
           cursor: pointer;
           height: 16px;
           width: 16px;
           margin: 0 3px;
           background-color: #acc;
           border-radius: 50%;
           display: inline-block;
           transition: background-color 0.5s ease;
         }
         
         .enable, .dots:hover {
           background-color: #717161;
         }
         
         /* Faint animation */
         .fade {
           -webkit-animation-name: fade;
           -webkit-animation-duration: 1.4s;
           animation-name: fade;
           animation-duration: 1.4s;
         }
         
         @-webkit-keyframes fade {
           from {opacity: .5}
           to {opacity: 2}
         }
         
         @keyframes fade {
           from {opacity: .5}
           to {opacity: 2}
         }

small{
    font-size:15px;
}
